header {
    background-color: #0E0F0F;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
    max-width: 1080px;
}

nav a {
    margin: 0 5px;
}

.hamburger {
    display: none;
}

.logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.logo a h1 {
    font-size: 40px;
    margin: 0px;
}

.logo a img {
    height: 40px;
    position: relative;
    bottom: 3px;
}

.log-in img {
    height: 20px;
    width: 20px;
}

/* Dropdown Button */

.city-dropbtn, .login-dropbtn {
    padding: 0px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */

/* The container <div> - needed to position the dropdown content */

.city-dropdown, .login-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.city-dropdown-content, .login-dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    z-index: 1;
    border-radius: 0px 0px 5px 5px;
    top: 39px;
}

/* Links inside the dropdown */

.city-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */

.city-dropdown-content a:hover, .login-dropdown-content a:hover {
    color: red;
    text-decoration: underline;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}

/* ---------------------------------------------------------------------- */

.login-box {
    padding: 20px;
    display: inline-block;
}

.login-box input {
    width: 170px;
    padding: 10px;
    margin-top: 4px;
    font-size: 14px;
}

.login-box span {
    width: 170px;
    padding: 10px;
    margin-top: 4px;
    font-size: 12px;
    color: #ff0000;
}

.login-btn {
    width: 100%;
    margin: 10px 0px;
    background-color: #0E0F0F;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;
}

.form-bottom {
    color: #0E0F0F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-bottom p {
    margin: 0px;
}

.login-dropdown-content a {
    color: black;
    padding: 6px 0px 0px 0px;
    margin: 0px;
    text-decoration: none;
    display: block;
}

.login-dropdown-content {
    top: 39px;
    left: -40px;
}

.login-dropdown a img {
    position: absolute;
    left: -20px;
}

.search-box svg:hover #search-btn {
    fill: #ff0000;
}

#main-nav {
    display: flex;
}

#search-nav {
    display: none;
}

#search-nav input {
    background-color: rgb(41, 41, 41);
    border: none;
    border-radius: 10px;
    width: 100%;
    font-size: 26px;
    height: 75%;
    color: #fff;
    padding-left: 46px;
    padding-right: 30px;
    margin-right: 0px;
    margin-left: 0px;
}

.close-btn {
    color: white;
    background-color: transparent;
    font-size: 27px;
    padding: 0px;
    border: none;
    font-weight: bold;
    position: relative;
    right: 40px !important;
    margin-right: -40px !important;
}

.close-btn:hover {
    color: red
}

.src-icon {
    position: relative;
    left: 35px;
    margin-left: -27px;
    top: 3px;
}

@media only screen and (max-width:950px) {
    .login-dropdown-content {
        left: -130px;
    }
}

@media only screen and (min-width: 801px) {
    #hamburger {
        display: none !important;
    }
}

@media only screen and (max-width: 800px) {
    nav {
        justify-content: space-between;
    }
    nav>a, .city-dropdown, .login-dropdown {
        display: none;
    }
    #hamburger {
        display: flex;
        width: 30px;
        height: 30px;
        flex-direction: column;
        justify-content: space-between;
    }
    #hamburger div {
        width: 30px;
        height: 5px;
        background: #fff;
    }
    #hamburger:hover div {
        cursor: pointer;
        background: red;
    }
    #hamburger-menu {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        left: 0px;
        top: 60px;
        background-color: #333;
        z-index: 1;
    }
    #hamburger-menu span {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 15px;
        width: 100px;
    }
    .logo {
        margin-left: 58px;
    }
    .search-box {
        margin-right: 10px;
    }
    .logo h1 {
        font-size: 35px;
        margin: 0px;
    }
    .logo img {
        height: 40px;
        position: relative;
        bottom: 3px;
    }
}